/**
 * @file
 * CSS styles for Educational Program Page
 *
 * The Educational Program Page is a Layout Builder page with
 * program title and description pulled from MyData.
 *
 */

 :root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
}

.node-type_educational-programs-page .row {
	margin-left: 0;
	margin-right: 0;
}
.node-type_educational-programs-page .isu.region.isu-region_content {
    width: 100%;
  }
.node-type_educational-programs-page #layout_builder {
    border: 3px solid #2f91da;
    background-color: #fff;
}
.node-type_educational-programs-page form#layout-builder-discard-changes {
    padding-bottom: 20px;
}

/* 
 * Removes ablitiy to edit the edu_prog_field description block placed layout
 */
 .layout-builder__section[aria-label="edu_field_body_section"] > a,
 .layout-builder__section[aria-label="edu_field_body_section"] .layout-builder__add-block {
   display: none;
 }