.views-field-field-publication-date {
	font-size: 14px;
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	padding: 0.75rem 1.25rem;
	background-color: rgba(0,0,0,.03);
}

.views-field-field-image-url {
	padding-bottom: 10px;
}

/* Fix for just homepage */
.isu-page-column {
	max-width: 90%;
}

.slick__slide {
	padding-left: 10px;
	padding-right: 10px;
	width: 250px;
	float: left;
}

.slick__slide img {
	margin-left: auto;
	margin-right: auto;
}

a.publication-title {
	display: block;
	min-height: 70px;
}

nav.slick__arrow {
	position: sticky;
	transform: translateY(-704%);
}

button.slick-next.slick-arrow {
	float: right;
}

.slick__arrow {
	background: transparent;
	border: 0;
	color: #d3d3d3;
}

button.slick-next, button.slick-prev {
	background: transparent;
	border: 0;
	color: #d3d3d3;
}

.slick .slick-prev::before {
	content: '\f053';
	font-family: 'FontAwesome';
	font-size: 18px;
}

.slick .slick-next::before {
	content: '\f054';
	font-family: 'FontAwesome';
}
