/**
 *
 * @file
 * CSS styles for Educational program field parent and child templates.
 *
*/

:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
  }

div.educational_program {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
/* --------------------------------------  */
/* ## PARENT
/* --------------------------------------  */
.program-hero-image img {
  width: 1140px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
/* --------------------------------------  */
/* ## CHILDREN
/* --------------------------------------  */