{#
/**
 * @file
 * Default template for child projects withing the educational_programs_field
 *
 * Available variables:
 *   - subprograms: Array of children
 *     - name
 *     - description
 *     - url
 */
#}

{% if subprograms %}
  {# Start of accordion #}
  <div><div class="accordion">

  {% for child in subprograms %}
    <div class="views-row">
      <div class="views-row">
        {# Output the child name #}
        <div class="views-field views-field-title views-accordion-header js-views-accordion-header-2500e0de8557df4f07fd1455c46a47bba6e4a25a3189afd01a8eb3a6b5699724">
          <span class="field-content">{{ child.name }}</span>
        </div>
        {# Output the child description #}
        <div class="views-field views-field-body">
          <div class="field-content">{{ child.description }}</div>
        </div>
        {# Output the child url, if given one #}
        {% if child.url %}
        <div class="views-field views-field-field-plp-child-website">
          <div class="field-content">
            <a href="{{ child.url }}">More about {{ child.name }}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  </div>
  </div>
{% endif %}
