
/* Upcoming Events */

ul.program_offering_blocks {
 list-style-type: none;
 padding-left: 0rem;
padding-bottom: 25px;
}

div.event_startdate {
 display: none;
}

li.event {
 padding:0 0 15px 0;
 clear: both;
}

div.event_title a {
 font-weight: 600;
}
div.event_title a:hover {
        text-decoration: underline;
}

div.event_date {float:left;
  margin:0 5px 35px 0;
  border-right: 2px solid #f1be47;
  padding-right: 5px;
  min-width: 50px;
}

span.event_time{
  font-size:0.7rem;
  font-weight:bold;
}

span.event_ampm {
  font-size:0.6rem;
  font-weight:bold;
  padding-left:1px;
}

span.event_day {
        color: #000;
        float: left;
        font-size: 2rem;
        margin-top: -12px;
        display: block;
        margin-bottom: -12px;
}

span.event_month {
        color: #000;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
margin-bottom:-9px;
}

div.program_offering_blocks {padding:10px 10px 20px 10px !important; }
div.program_offering_blocks h2 {font-weight: 500; }
div.program_offering_blocks a {text-decoration:none;}
div.program_offering_blocks ul {padding:0;}
