/* Styles used by the ungerboeck_eventlist module */

/* --------------------------------------  */
/* ## Events
/* --------------------------------------  */

.event_details_links {
    padding-top: 20px;
}

.event_description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.event_details_dates {
    font-style: italic;
    padding-right: 5px;
}

.events_show_more{
    background-color: #006BA6;
        border-color: #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
        padding: 7px;
        margin-left: 5%;
        color: #fff;
        text-decoration: none;
}

.events_show_more:hover{
    background-color: #202124;
    color: #fff;
    text-decoration: none;
}

.event_sessions{padding-top:10px;}
.event_contact_label{padding-top:10px;}
.event_contact_name, .event_contact_email, .event_contact_phone {padding-left: 15px;}

img.educational_program_image {max-width: 200px; float:left; margin: 0 8px 5px 0;}
div.clearer {clear:both;}

.next_session{font-weight: bold;}
