/* CSS for Program Landing Page Programs */

:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
  }

/* Program Offerings */
#plp-events .program_offering_blocks ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
}
#plp-events li.event {
    box-shadow: 0.5625rem 0.5625rem 1.25rem rgb(0 0 0 / 20%);
    padding: .5em;
}
#plp-events div.event_date {
    border-right: none;
    height: 100%;
    text-align: center;
    padding-right: 5%;
    margin: 0;
    min-width: auto;
    color: var(--midnight);
    line-height: 1.2;
}
#plp-events span.event_day {
    color:var(--midnight);
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
#plp-events span.event_month {
    margin-bottom: -7px;
    color: var(--midnight);
}
#plp-events div.event_title a {
    display: block;
    line-height: 1.2;
    padding-bottom: .2rem;
    margin-top: .3em;
    font-size: clamp(.9rem, 1.1vw, .8rem);
}
#plp-events div.event_series {
    font-size:clamp(.6rem, 1.1vw, .8rem);
    color: #666;
}
#plp-events div.event_venue {
    font-size: clamp(.6rem, 1.1vw, .8rem);
}