/* ------------------------------------- */
/* ## RESULTS
/* ------------------------------------- */
.search-results-snipets {
    float: right;
    max-width: 67%;
}
.search-results .ais-InfiniteHits li {
    list-style: none;
}
.search-results .ais-InfiniteHits ol {
    padding-left: 0;
}
.search-results .card img {
    max-width: 245px;
    height: 100%;
    object-fit: cover;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}
.search-results .card .card-body {
    text-align: left;
}
.search-results h2.card-title a {
    color: var(--cardinal);
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}
.search-results h2.card-title a:hover {
    color: var(--burgundy);
    text-decoration: underline;
}
.search-results .card-title {
    margin-bottom: 0;
    line-height: 1;
}
.search-results h2 {
    padding-bottom: 0.5rem;
}
.search-results .hit-summary {
    line-height: 1.3;
    font-size: 1rem;
}
.search-results .ais-InfiniteHits-loadMore--disabled {
    display: none;
}
.search-results .search-stats-number {
    padding: 0 0 0.8rem 0.5rem;
    font-weight: 700;
}

/* ------------------------------------- */
/* ## SEARCH HIGHLIGHT
/* ------------------------------------- */
.search-results mark {
    background-color: #c8102e;
    color: #fff;
    padding: 0;
    font-weight: bold;
}

/* ------------------------------------- */
/* ## FACETS
/* ------------------------------------- */
.search-results-facets {
    float: left;
    max-width: 33%;
}
.search-results .ais-RefinementList ul {
    padding-left: 0;
    padding-right: 2rem;
}
.search-results .ais-RefinementList li {
    list-style: none;
    display: inline-block;
    margin: 0.3rem;
}
.search-results-facets .btn-outline-primary {
    font-size: .8rem;
}
.search-results-facets .btn {
    padding: .2rem .5rem;
}
.search-results-facets .btn-outline-primary:hover:after {
    background: none;
}
.search-results li.ais-RefinementList-item.ais-RefinementList-item--selected .btn-outline-primary {
    background-color: #003d4c;
    color: #fff;
}

/* ------------------------------------- */
/* ## SEARCH BAR
/* ------------------------------------- */
#search-results-bar input.ais-SearchBox-input {
    margin-bottom: .5rem;
    width: 89%;
    height: 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: none;
    border-color: #eeeeee;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#search-results-bar button.ais-SearchBox-submit {
    width: 2.5rem;
    height: 3rem;
    padding: 0;
    color: #676767;
    background-color:#fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}
#search-results-bar svg.ais-SearchBox-submitIcon {
    height: 1em;
    vertical-align: -.125rem;
    width: 1.3rem;
}
#search-results-bar input.ais-SearchBox-input:focus-visible {
    outline: 1px solid #f1be48;
}
.isueo-searchall {
    padding-left: 1.5rem;
    font-size: .8rem;
    padding-bottom: 2rem;
}