/* Styles for the home page search bar go here */
#search-bar-only input.ais-SearchBox-input {
    margin-bottom: .5rem;
    width: 89%;
    height: 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: none;
    border-color: #eeeeee;
    padding: 0.375rem 0.75rem;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#search-bar-only button.ais-SearchBox-submit {
    width: 2.5rem;
    height: 3rem;
    padding: 0;
    color: #676767;
    background-color:#fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}
#search-bar-only svg.ais-SearchBox-submitIcon {
    height: 1em;
    vertical-align: -.125rem;
    width: 1.3rem;
}
#search-bar-only input.ais-SearchBox-input:focus-visible {
    outline: 1px solid #f1be48;
}
