/* -------------------------------------- */

/* ## Flip-Cards

/* -------------------------------------- */
.flip-card.body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	height: 100vh;
  }

.flip-card {
	height: 100%;
	width: 100%;
	margin: 1em;
	background-color: #fff;
	transition: transform 0.7s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

.flip-card_img img {
	object-fit: cover;
	width: 100%;
	height: 480px;
}

.flip-card article:not(.isu-user):not(.isu-search_collapse) {
	margin-bottom: 0;
}

.flip-card .content {
	position: relative;
	width: 100%;
	height: 100%;
 }

.flip-card_front {
	position: absolute;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	width: 100%;
 }

.flip-card_back {
	position: absolute;
	display: flex;
	align-items: center;
	color: #355cc9;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.flip-card_button {
	background-color: #CC0000;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: solid 2px transparent;

	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;	
}

.flip-card_button:hover {
	background-color: transparent;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
	text-shadow: none;
	border: solid 2px #CC0000;
	color: #CC0000;
}

p.flip-card_button {
	text-align: center;
} 

/* flip transition */


.flip-card_box {
	background-color: transparent;
	height: 400px;
	width: 100%;
	perspective: 1500px;
}


.flip-card_box .flipped {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-card_back  {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


/*  Colors */

.flip-card .bean-card_label.Red {
        position: absolute;
        background: rgba(204,0,0,0.8);
        bottom: 0;
        width: 100%;
}

.flip-card .bean-card_label.Green {
        position: absolute;
        background: rgba(124,37,41,0.8);
        bottom: 0;
        width: 100%;
}

.flip-card .bean-card_label.Dark.Red {
        position: absolute;
        background: rgba(124,37,41,0.8);
        bottom: 0;
        width: 100%;
}

.flip-card .bean-card_label.Dark.Blue {
        position: absolute;
        background: rgba(0,61,76,0.8);
        bottom: 0;
        width: 100%;
}

.flip-card_back.Red {
	background-color: #CC0000;
}

.flip-card_back.Green {
	background-color: #00854d;
 }

.flip-card_back.Maroon {
	background-color: #7C2529;
}

.flip-card_back.Navy {
	background-color: #003D4C;
}

/* Button Colors */

.flip-card_button.Green {
	background-color: #00854d;
}

.flip-card_button.Maroon {
	background-color: #7C2529;
}

.flip-card_button.Navy {
	background-color: #003D4C;
}

.flip-card_button.Red {
	background-color: #CC0000;
}

