:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
}

/* 
 * Search css not specific to CSE
 * can be found in
 * iastate_theme/css/theme.css
 * 
 */
 
/* --------------------------------------  */
/* ## Google Custom Search Styles
/* --------------------------------------  */
.isu-socials-responsive #block-csesearchblock {
	display: none;
}
#block-csesearchblock {
	grid-column-start: 1;
	grid-row-end: 1;
	grid-column-end: 3;
}

#block-csesearchblock .form-group {
	margin-bottom: 0.5rem;
}

/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 1199px) {
    #block-csesearchblock {
		display: none;
	}
}
