.announcement::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--gold);
    z-index: -1;
}

.announcement {
	font-weight: 700;
	padding-bottom: 20px;
	color: var(--midnight);
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
	background: var(--gold);
	font-size: 1.25rem;
}
