/*
 *
 * @file
 * CSS styles for the Homepage Content Type
 *
 * This is used for county sites only
 * to prevent accidently deleting the page and 
 * to maintain consistency for each site.
 *
 */

:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
}

/* --------------------------------------  */
/* ## EDIT SCREEN
/* --------------------------------------  */
.node-type_homepage-ct #layout_builder {
    border: 3px solid #2f91da;
    background-color: #fff;
  }
  .node-type_homepage-ct form#layout-builder-discard-changes {
    padding-bottom: 20px;
  }

/* --------------------------------------  */
/* ## HOMEPAGE CONTENT
/* --------------------------------------  */
.node-type_homepage-ct.row {
	margin-left: 0;
	margin-right: 0;
}
.node-type_homepage-ct .isu-region.isu-region_content {
    width: 100%;
}
.announcement-wrapper {
	background: var(--gold);
	padding-top: .5rem;
	padding-bottom: 1rem;
}
.announcement-wrapper-content {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.announcement {
	font-weight: 700;
	color: var(--midnight);
	font-size: 1.25rem;
}
