ul.council_list {padding:0;}
ul.council_list li {list-style-type:none; padding:0; margin:0 0 8px 0;}
ul.council_list li div.council_name {float:left; font-weight:bold;}
ul.council_list li div.council_date {display:inline-block; margin-left:5px;}
ul.council_list li div.council_position {clear:both;}
p.council_note {font-size: 0.75em; color:#707070; padding:0; margin-bottom:6px; }
