/* Styles for Location Information */
div.font-weight-bold {width:20%;}
div.staff_profile_counties_served div.font-weight-bold {float:left;}
div.staff_profile_counties_served div.staff_profile_counties_served {width:80%; padding-left:5px;}

/* SmugMug image styles */
.node-type_staff-profile img.staff_profile_smugmug {max-width:200px;  margin: 10px 0px; margin-right: 50px; }
.node-type_staff-profile img.staff_profile_blank_image {display:none; }

/* Don't need to display country */
p.address span.country {display:none;}

/* Custodian of Public Records Styles */
.isu-custodian-records:before { content: "\f46c"; font-family: FontAwesome; color: var(--cardinal); font-size: 1.3rem; padding-right: 5px; }
.isu-custodian-records { float: right; font-size: 0.9rem; }

/* Responsive Styles */
@media screen and (max-width : 768px) {
  div.font-weight-bold {width:25%;}
  div.staff_profile_counties_served div.staff_profile_counties_served {width:75%;}
}
